.Menu_externo {
  font-family: "Neucha";
  font-weight: bold;
  font-size: 20px;
  width: 15%;
  list-style: none;
  text-align: right; }
  .Menu_externo ul {
    margin: 10px;
    list-style: none;
    padding: 0%; }
  .Menu_externo .NavIma {
    visibility: hidden; }
  .Menu_externo li {
    margin: 10px;
    padding: 5px; }

@media only screen and (max-width: 790px) {
  * {
    margin: 0px;
    padding: 0px;
    font-size: 16px; }
  .Menu_externo {
    width: 25%;
    margin: 9px; }
    .Menu_externo .NavTex {
      display: none; }
    .Menu_externo .NavIma {
      visibility: visible; }
      .Menu_externo .NavIma img {
        width: 70px; } }

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #FFDAB9; }
  .menu img {
    width: 100%;
    border: #250c2c solid 2px;
    margin: 5px; }
  .menu a {
    width: 20%; }
    .menu a :link :visited :active {
      text-decoration: none;
      color: #4E1A3D; }
  .menu .navigation {
    display: flex;
    list-style: none;
    font-family: "Neucha";
    font-size: 20px;
    text-align: center;
    align-items: center; }
    .menu .navigation :hover {
      color: #DA70D6; }
    .menu .navigation .navigationOptions {
      float: right;
      flex-direction: row;
      width: 100px; }

.navbar {
  background-color: #FFDAB9; }

#Navletra {
  color: #4E1A3D; }

#desplegable {
  background-color: #FFDAB9; }

@media only screen and (max-width: 790px) {
  * {
    margin: 0px;
    padding: 0px;
    font-size: 16px; }
  .navigation {
    visibility: hidden; }
  .menu {
    display: flex;
    justify-content: flex-end; } }

h1 {
  text-align: center;
  color: #4E1A3D; }

h2 {
  color: #4E1A3D; }

h3 {
  color: #4E1A3D; }

.resaltar {
  font-size: 20px; }

p {
  color: #4E1A3D;
  font-size: 18px; }

.MainHidratante .part1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "parr1 parr1 ima1" "parr2  parr2 ima1" "parr3 parr3 parr3" "parr4 parr4 parr4";
  align-items: center; }
  .MainHidratante .part1 p {
    font-size: 16px; }

.MainHidratante .parr1 {
  grid-area: parr1; }

.MainHidratante .ima1 {
  grid-area: ima1;
  width: 400px;
  margin: 5px; }

.MainHidratante .parr2 {
  grid-area: parr2; }

.MainHidratante .parr3 {
  grid-area: parr3; }

.MainHidratante .parr4 {
  grid-area: parr4; }

.Dif {
  text-align: center;
  font-size: 40px;
  color: #4E1A3D; }

.intyext {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "part2 part2 part3 part3" "ima2 ima6 ima3 ima4"; }

.part2 {
  grid-area: part2; }

.ima2 {
  grid-area: ima2; }

.ima6 {
  grid-area: ima6; }

.part3 {
  grid-area: part3; }

.ima3 {
  grid-area: ima3; }

.ima4 {
  grid-area: ima4; }

@media only screen and (max-width: 575px) {
  .MainHidratante .part1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "parr1 parr1 ima1" "parr2  parr2 parr2" "parr3 parr3 parr3" "parr4 parr4 parr4";
    align-items: center; }
    .MainHidratante .part1 p {
      font-size: 16px; }
  .MainHidratante .parr1 {
    grid-area: parr1; }
  .MainHidratante .ima1 {
    grid-area: ima1;
    width: 150px;
    margin: 5px; }
  .MainHidratante .parr2 {
    grid-area: parr2; }
  .MainHidratante .parr3 {
    grid-area: parr3; }
  .MainHidratante .parr4 {
    grid-area: parr4; }
  .MainHidratante .intyext {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "part2 part2" "ima2 ima6" "part3 part3" "ima3 ima4"; }
  .MainHidratante .part2 {
    grid-area: part2; }
  .MainHidratante .ima2 {
    grid-area: ima2; }
  .MainHidratante .ima6 {
    grid-area: ima6; }
  .MainHidratante .part3 {
    grid-area: part3; }
  .MainHidratante .ima3 {
    grid-area: ima3; }
  .MainHidratante .ima4 {
    grid-area: ima4; }
  .diferencias {
    color: #4E1A3D;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ima5 part4" "part5 part5";
    align-items: center; }
  .ima5 {
    grid-area: ima5;
    width: 200px; }
  .part4 {
    grid-area: part4; }
  .part5 {
    grid-area: part5; } }

@media only screen and (min-width: 992px) {
  .MainHidratante .part1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "parr1 parr1 ima1" "parr2  parr2 ima1" "parr3 parr3 parr3" "parr4 parr4 parr4";
    align-items: center; }
    .MainHidratante .part1 p {
      font-size: 16px; }
  .MainHidratante .parr1 {
    grid-area: parr1; }
  .MainHidratante .ima1 {
    grid-area: ima1;
    width: 200px;
    margin: 5px; }
  .MainHidratante .parr2 {
    grid-area: parr2; }
  .MainHidratante .parr3 {
    grid-area: parr3; }
  .MainHidratante .parr4 {
    grid-area: parr4; }
  .diferencias {
    color: #4E1A3D;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "ima5 part4" "ima5 part5";
    align-items: center; }
  .ima5 {
    grid-area: ima5;
    width: 400px; }
  .part4 {
    grid-area: part4; }
  .part5 {
    grid-area: part5; } }

.Principal {
  width: 80%; }
  .Principal p {
    color: #4E1A3D; }
  .Principal .Principal_text {
    font-family: "Neucha";
    font-size: 18px;
    padding: 5px;
    color: #4E1A3D; }

h2 {
  text-align: center;
  padding: 10px;
  font-size: 30px; }

#tipo_piel {
  background-color: #FFDAB9; }

@media only screen and (max-width: 575px) {
  .Principal {
    width: 80%; }
    .Principal p {
      font-size: 16px; }
    .Principal .Principal_text {
      font-size: 16px;
      padding: 0px; }
  h2 {
    padding: 8px;
    font-size: 20px; }
  h3 {
    padding: 8px;
    font-size: 20px; } }

.final {
  background-color: #4E1A3D;
  width: 100%;
  color: #DA70D6;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 30px; }
  .final img {
    width: 30px; }
  .final p {
    color: #FFDAB9; }

h1 {
  font-size: 16px;
  text-align: center;
  color: #4E1A3D;
  margin: 50px; }

.CbMain .Limpieza {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: " titulo1" "imagen"  "text1" "imagen1";
  align-items: center;
  justify-items: center;
  background-color: #4E1A3D;
  border-radius: 30px; }
  .CbMain .Limpieza .CbMain_ima1 {
    grid-area: imagen;
    width: 200px;
    height: 200px; }
  .CbMain .Limpieza .CbMain_titulo1 {
    grid-area: titulo1; }
    .CbMain .Limpieza .CbMain_titulo1 h2 {
      color: #FFDAB9; }
    .CbMain .Limpieza .CbMain_titulo1 h3 {
      color: #FFDAB9; }
  .CbMain .Limpieza .CbMain_text1 {
    grid-area: text1;
    color: #FFDAB9; }
  .CbMain .Limpieza .CbMain_ima2 {
    grid-area: imagen1;
    width: 100px; }

.CbMain .tonico {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "titulo2" "imagen2" "text2"  "imagen3";
  align-items: center;
  justify-items: center; }
  .CbMain .tonico .CbMain_ima3 {
    grid-area: imagen2;
    width: 200px;
    height: 200px; }
  .CbMain .tonico .CbMain_titulo2 {
    grid-area: titulo2; }
  .CbMain .tonico .CbMain_text2 {
    grid-area: text2; }
  .CbMain .tonico .CbMain_ima4 {
    grid-area: imagen3;
    width: 100px; }

.CbMain .hidratar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "titulo3" "imagen4" "text3" "imagen5";
  background-color: #4E1A3D;
  border-radius: 30px;
  align-items: center;
  justify-items: center; }
  .CbMain .hidratar .CbMain_ima5 {
    grid-area: imagen4;
    width: 200px;
    height: 200px; }
  .CbMain .hidratar .CbMain_titulo3 {
    grid-area: titulo3; }
    .CbMain .hidratar .CbMain_titulo3 h2 {
      color: #FFDAB9; }
    .CbMain .hidratar .CbMain_titulo3 h3 {
      color: #FFDAB9; }
  .CbMain .hidratar .CbMain_text3 {
    grid-area: text3;
    color: #FFDAB9; }
  .CbMain .hidratar .CbMain_ima6 {
    grid-area: imagen5;
    width: 100px; }

.CbMain .proteccion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "titulo4" "imagen6" "text4" "imagen7";
  justify-items: center;
  align-items: center; }
  .CbMain .proteccion .CbMain_ima7 {
    grid-area: imagen6;
    width: 200px;
    height: 200px; }
  .CbMain .proteccion .CbMain_titulo4 {
    grid-area: titulo4; }
  .CbMain .proteccion .CbMain_text4 {
    grid-area: text4; }
  .CbMain .proteccion .CbMain_ima8 {
    grid-area: imagen7;
    width: 100px; }

.CbMain h3 {
  text-align: center; }

@media only screen and (min-width: 576px) {
  .CbMain h1 {
    font-size: 20px; }
  .CbMain .Limpieza {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "titulo1 text1 " "imagen text1"  "imagen imagen1";
    align-items: center;
    justify-items: center;
    background-color: #4E1A3D;
    border-radius: 30px; }
    .CbMain .Limpieza .CbMain_ima1 {
      grid-area: imagen;
      width: 250px;
      height: 250px; }
    .CbMain .Limpieza .CbMain_titulo1 {
      grid-area: titulo1; }
      .CbMain .Limpieza .CbMain_titulo1 h2 {
        font-size: 20px;
        color: #FFDAB9; }
      .CbMain .Limpieza .CbMain_titulo1 h3 {
        font-size: 20px;
        color: #FFDAB9; }
    .CbMain .Limpieza .CbMain_text1 {
      grid-area: text1;
      color: #FFDAB9;
      font-size: 14px; }
    .CbMain .Limpieza .CbMain_ima2 {
      grid-area: imagen1;
      width: 150px; }
  .CbMain .tonico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "text2 titulo2" "text2 imagen2" "imagen3 imagen2";
    align-items: center;
    justify-items: center; }
    .CbMain .tonico .CbMain_ima3 {
      grid-area: imagen2;
      width: 250px;
      height: 250px; }
    .CbMain .tonico .CbMain_titulo2 {
      grid-area: titulo2; }
      .CbMain .tonico .CbMain_titulo2 h2 {
        font-size: 20px; }
      .CbMain .tonico .CbMain_titulo2 h3 {
        font-size: 20px; }
    .CbMain .tonico .CbMain_text2 {
      grid-area: text2;
      font-size: 14px; }
    .CbMain .tonico .CbMain_ima4 {
      grid-area: imagen3;
      width: 100px; }
  .CbMain .hidratar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "titulo3 text3" "imagen4 text3" "imagen4 imagen5";
    background-color: #4E1A3D;
    border-radius: 30px;
    align-items: center;
    justify-items: center; }
    .CbMain .hidratar .CbMain_ima5 {
      grid-area: imagen4;
      width: 250px;
      height: 250px; }
    .CbMain .hidratar .CbMain_titulo3 {
      grid-area: titulo3; }
      .CbMain .hidratar .CbMain_titulo3 h2 {
        font-size: 20px;
        color: #FFDAB9; }
      .CbMain .hidratar .CbMain_titulo3 h3 {
        font-size: 20px;
        color: #FFDAB9; }
    .CbMain .hidratar .CbMain_text3 {
      grid-area: text3;
      color: #FFDAB9;
      font-size: 14px; }
    .CbMain .hidratar .CbMain_ima6 {
      grid-area: imagen5;
      width: 100px; }
  .CbMain .proteccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "text4 titulo4" "text4 imagen6" "imagen7 imagen6";
    justify-items: center;
    align-items: center; }
    .CbMain .proteccion .CbMain_ima7 {
      grid-area: imagen6;
      width: 200px;
      height: 200px; }
    .CbMain .proteccion .CbMain_titulo4 {
      grid-area: titulo4; }
      .CbMain .proteccion .CbMain_titulo4 h2 {
        font-size: 20px; }
      .CbMain .proteccion .CbMain_titulo4 h3 {
        font-size: 20px; }
    .CbMain .proteccion .CbMain_text4 {
      grid-area: text4;
      font-size: 14px; }
    .CbMain .proteccion .CbMain_ima8 {
      grid-area: imagen7;
      width: 100px; } }

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 30px; }
  .CbMain .Limpieza {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "imagen titulo1" "imagen text1" "imagen imagen1";
    align-items: center;
    justify-items: center;
    background-color: #4E1A3D;
    border-radius: 30px; }
    .CbMain .Limpieza .CbMain_ima1 {
      grid-area: imagen;
      width: 300px;
      height: 300px; }
    .CbMain .Limpieza .CbMain_titulo1 {
      grid-area: titulo1; }
      .CbMain .Limpieza .CbMain_titulo1 h2 {
        font-size: 20px;
        color: #FFDAB9; }
      .CbMain .Limpieza .CbMain_titulo1 h3 {
        font-size: 20px;
        color: #FFDAB9; }
    .CbMain .Limpieza .CbMain_text1 {
      grid-area: text1;
      color: #FFDAB9;
      font-size: 14px; }
    .CbMain .Limpieza .CbMain_ima2 {
      grid-area: imagen1;
      width: 120px; }
  .CbMain .tonico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "titulo2 imagen2" "text2 imagen2" "imagen3 imagen2";
    align-items: center;
    justify-items: center; }
    .CbMain .tonico .CbMain_ima3 {
      grid-area: imagen2;
      width: 300px;
      height: 300px; }
    .CbMain .tonico .CbMain_titulo2 {
      grid-area: titulo2; }
      .CbMain .tonico .CbMain_titulo2 h2 {
        font-size: 20px; }
      .CbMain .tonico .CbMain_titulo2 h3 {
        font-size: 20px; }
    .CbMain .tonico .CbMain_text2 {
      grid-area: text2;
      font-size: 14px; }
    .CbMain .tonico .CbMain_ima4 {
      grid-area: imagen3;
      width: 100px; }
  .CbMain .hidratar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "imagen4 titulo3" "imagen4 text3" "imagen4 imagen5";
    background-color: #4E1A3D;
    border-radius: 30px;
    align-items: center;
    justify-items: center; }
    .CbMain .hidratar .CbMain_ima5 {
      grid-area: imagen4;
      width: 300px;
      height: 300px; }
    .CbMain .hidratar .CbMain_titulo3 {
      grid-area: titulo3; }
      .CbMain .hidratar .CbMain_titulo3 h2 {
        font-size: 20px;
        color: #FFDAB9; }
      .CbMain .hidratar .CbMain_titulo3 h3 {
        font-size: 20px;
        color: #FFDAB9; }
    .CbMain .hidratar .CbMain_text3 {
      grid-area: text3;
      color: #FFDAB9;
      font-size: 14px; }
    .CbMain .hidratar .CbMain_ima6 {
      grid-area: imagen5;
      width: 100px; }
  .CbMain .proteccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "titulo4 imagen6" "text4 imagen6" "imagen7 imagen6";
    justify-items: center;
    align-items: center; }
    .CbMain .proteccion .CbMain_ima7 {
      grid-area: imagen6;
      width: 300px;
      height: 300px; }
    .CbMain .proteccion .CbMain_titulo4 {
      grid-area: titulo4; }
      .CbMain .proteccion .CbMain_titulo4 h2 {
        font-size: 20px; }
      .CbMain .proteccion .CbMain_titulo4 h3 {
        font-size: 20px; }
    .CbMain .proteccion .CbMain_text4 {
      grid-area: text4;
      font-size: 14px; }
    .CbMain .proteccion .CbMain_ima8 {
      grid-area: imagen7;
      width: 100px; }
  .CbMain h3 {
    text-align: center; } }

.formContacto {
  width: 300px;
  border: #944ed4 solid 2px;
  background-size: contain;
  padding: 50px;
  margin: auto;
  border-radius: 30px;
  font-family: 'Neucha';
  color: #4B0082;
  font-weight: bold; }
  .formContacto .boton {
    width: 50%;
    background-color: #944ed4;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px; }
  .formContacto .titulo {
    color: #4E1A3D;
    background-color: wheat; }
  .formContacto .ingreso {
    width: 100%;
    background-color: #944ed4;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid white;
    font-family: 'Neucha'; }

#accordionExample {
  background-color: #FFDAB9; }

.imahombre {
  width: 300px;
  padding: 30px;
  margin: 30px; }

.encabezados .encabezadoCarrusel {
  width: 100%; }

.imahombres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .imahombres .imahombre1 {
    display: flex;
    width: 100px; }
  .imahombres .imahombre2 {
    display: flex;
    width: 100px; }

@media only screen and (min-width: 576px) {
  .encabezados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .encabezados .encabezadoCarrusel {
      display: flex;
      width: 200%;
      margin: 10px; }
    .encabezados .encabezadostext {
      display: flex; }
  .imahombres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .imahombres .imahom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .imahombres .imahom .imahombre1 {
        display: flex;
        width: 300px; }
      .imahombres .imahom .imahombre2 {
        display: flex;
        width: 300px; } }

#card1 {
  background-color: #4E1A3D;
  color: #FFDAB9;
  max-width: 540px; }
  #card1 p {
    color: #FFDAB9; }

#card2 {
  background-color: #FFDAB9;
  color: #4E1A3D;
  border: #4E1A3D solid2px;
  max-width: 540px; }
  #card2 p {
    color: #4E1A3D; }

#card3 {
  background-color: #4E1A3D;
  color: #FFDAB9;
  max-width: 540px; }
  #card3 p {
    color: #FFDAB9; }

#card4 {
  background-color: #FFDAB9;
  color: #4E1A3D;
  border: #4E1A3D solid2px;
  max-width: 540px; }
  #card4 p {
    color: #4E1A3D; }

img {
  width: 200px; }

li {
  color: #4E1A3D; }

.baner {
  width: 100%; }

a {
  text-decoration: none; }

.productohidra a {
  text-decoration: none; }

.productohidra img {
  margin-left: 10%; }

.productoacne {
  background-color: #4E1A3D;
  border-radius: 30px; }
  .productoacne a {
    text-decoration: none; }
    .productoacne a h2 {
      color: #FFDAB9; }
    .productoacne a img {
      margin-left: 10%; }

.productorosacea a {
  text-decoration: none; }

.productorosacea img {
  margin-left: 10%; }

@media only screen and (min-width: 574px) {
  .productohidra img {
    margin-left: 20%; }
  .productoacne img {
    margin-left: 50%; }
  .productorosacea img {
    margin-left: 20%; } }

@media only screen and (min-width: 992px) {
  .productohidra img {
    margin-left: 40%; }
  .productoacne img {
    margin-left: 40%; }
  .productorosacea img {
    margin-left: 40%; } }

.Contenido {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-family: "Neucha";
  background-color: #FFDAB9; }

.General {
  background-color: #FFDAB9; }
