$fontestilo: 'Neucha';
$fonttamaño-s: 18px;
$fonttamaño-m:20px;
$fonttamaño-l:30px;
$fonttamaño-x:35px;
$colorfond: #FFDAB9;
$colorbody:#FFDAB9;
$colorletras: #4E1A3D;
$colorhover:#DA70D6;
$tamañoimagen: 200px;