#accordionExample{
    background-color:$colorfond;

}

.imahombre{
    width: 300px;
    padding:$fonttamaño-l;
    margin: 30px;
    
}
.encabezados{
    .encabezadoCarrusel{
        width: 100%;
        }
}
.imahombres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    
    .imahombre1{
        
        display: flex;
        width: 150px;
        
    }
    .imahombre2{
        
        display: flex;
        width: 150px;
        
    }

}
@media only screen and (min-width:576px){

    .encabezados{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .encabezadoCarrusel{
            display: flex;
            width: 200%;
            margin: 10px;
        }
        .encabezadostext{
            display: flex;
        }
    }
    .imahombres{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "text1 text1"
                             "ima1 ima2";
        justify-items: center;
        .text{
            grid-area: text1;
        }
        .imahombre1{
            grid-area: ima1;
            width: 250px;
        }
        .imahombre2{
            grid-area: ima2;
            width: 250px;
        }
    }
}