$fontestilo: 'Neucha';
$fonttamaño-s: 18px;
$fonttamaño-m:20px;
$fonttamaño-l:30px;
$fonttamaño-x:35px;
$colorfond: #FFDAB9;
$colorbody:#f3d2b5;
$colorletras: #4E1A3D;
$colorhover:#DA70D6;
$tamañoimagen: 200px;
.formContacto{
    width: 300px;
    border: rgb(148, 78, 212) solid 2px;
    
    background-size: contain;
    padding: 50px;
    margin: auto;
    border-radius: 30px;
    font-family: 'Neucha';
    color: #4B0082;
    font-weight: bold;
    .boton{
        width: 50%;
        background-color: rgb(148, 78, 212);
        border: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    .titulo{
        color: $colorletras;
        background-color: wheat;
    }
    .ingreso{
        width: 100%;
        background-color: rgb(148, 78, 212);
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid white;
        font-family: 'Neucha';
        
    }
}