

.Principal{
    width: 80%;
    p{
        color: $colorletras;
    }
    .Principal_text{
        font-family: $fontestilo;
        font-size: $fonttamaño-s;
        padding: 5px;
        color: $colorletras;
    }
}



h2{
    text-align: center;
    padding: 10px;
    font-size: $fonttamaño-l;
}
#tipo_piel{
    background-color: $colorfond;
}
@media only screen and (max-width:575px){
    .Principal{
        width: 80%;
        p{
            font-size: $fonttamaño-sm;
        }
        .Principal_text{
            font-size: $fonttamaño-sm;
            padding: 0px;
        }
    }
    h2{
        padding: 8px;
        font-size: $fonttamaño-m;
    }
    h3{
        padding: 8px;
        font-size: $fonttamaño-m; 
    }
}