#accordionColor{
    background-color:$colorfond;

}

.imahombre{
    width: 300px;
    padding:$fonttamaño-l;
    margin: 30px;
    
}
.encabezados{
    .encabezadoCarrusel{
        width: 100%;
        }
}
.imahombres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
    .imahombre1{
        
        display: flex;
        width: 100px;
        
    }
    .imahombre2{
        
        display: flex;
        width: 100px;
        
    }

}
@media only screen and (min-width:576px){

    .encabezados{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .encabezadoCarrusel{
            display: flex;
            width: 200%;
            margin: 10px;
        }
        .encabezadostext{
            display: flex;
        }
    }
    .imahombres{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       
        .imahom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .imahombre1{
                display: flex;
                width: 300px;
                
            }
            .imahombre2{
                display: flex; 
                width: 300px;
            }
        }
    }
}