.Principal{
    width: 80%;
    p{
        color: $colorletras;
    }
}

.Principal_text{
    font-family: $fontestilo;
    font-size: $fonttamaño-s;
    padding: 25px;
    color: $colorletras;
}
.PrinContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "imagen letra letra titulos"
                         "letra2 letra2 imagen2 titulos2"
                         "imagen3 letra3 letra3 titulos3";
    justify-items: center; 
    align-items: center;       
    color: $colorletras;
    font-size: $fonttamaño-m;

}
.PrinContImag1{ 
    grid-area: imagen; 
    width: 200px;
}
.PrinConttex1 { 
    grid-area: letra ;
    
}   
.PrinContTitulo1 { 
    grid-area: titulos; 
    font-size: $fonttamaño-x;
}
.PrinConttex2 {
     grid-area: letra2; 
}
.PrinContImag2 { 
    grid-area: imagen2;
    width: 200px;
}
.PrinContTitulo2{ 
    grid-area: titulos2;
    font-size: $fonttamaño-x;
}
.PrinContImag3 { 
    grid-area: imagen3; 
    width: 200px;
}
.PrinConttex3 { 
    grid-area: letra3;
}
.PrinContTitulo3 { 
    grid-area: titulos3; 
    font-size: $fonttamaño-x;
}