h1{
    text-align: center;
    color: $colorletras;
}
h2{
    color: $colorletras;
}
h3{
    color: $colorletras;
}
.resaltar{
    font-size: $fonttamaño-m;
}
p{
    color: $colorletras;
    font-size: $fonttamaño-s;
}   
#factores{
    color: $colorback;
    h5{
        text-align: center;
    }
}  
.Dif{
    
    text-align: center;
    color: $colorletras;
}
#humehid{
    color: $colorletras;
}
#productoshidra{
    button{

        color: $colorletras;
    }
}

@media only screen and (min-width:574px){
        
.TextoPrincipal{
    p{
    font-size: $fonttamaño-sm;
    }
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "parr1 parr1 ima1"
                            "parr2  parr2 parr2"
                            "parr3 parr3 parr3"
                            "parr4 parr4 parr4";
    align-items: center;

    .parr1{
        grid-area: parr1;
    }
    .ima1{
        grid-area: ima1;
        width: 150px;
        margin: 5px;
    }
    .parr2{
        grid-area: parr2;
    }
    .parr3{
        grid-area: parr3;
    }
    .parr4{
        grid-area: parr4;
    }
}
}
    
 
 @media only screen and (min-width:992px){
    
        
.TextoPrincipal{
     p{
        font-size: $fonttamaño-sm;
        }
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "parr1 parr1 ima1"
                             "parr2  parr2 ima1"
                             "parr3 parr3 parr3"
                             "parr4 parr4 parr4";
        align-items: center;
    
        .parr1{
            grid-area: parr1;
        }
        .ima1{
            grid-area: ima1;
            width: 200px;
            margin: 5px;
        }
        .parr2{
            grid-area: parr2;
        }
        .parr3{
            grid-area: parr3;
        }
        .parr4{
            grid-area: parr4;
        }

}
    
  
 }