
    #card1{
        background-color: $colorback;
        color: $colorletclara;
        p{
            color: $colorletclara;
        }
        max-width: 540px
    }
    #card2{
        background-color: $colorfond;
        color: $colorletras;
        border:$colorback solid2px;
        p{
            color: $colorletras;
        }
        max-width: 540px;
        

    }
    #card3{
        background-color: $colorback;
        color: $colorletclara;
        p{
            color: $colorletclara;
        }
        max-width: 540px
    }
    #card4{
        background-color: $colorfond;
        color: $colorletras;
        border:$colorback solid2px;
        p{
            color: $colorletras;
        }
        max-width: 540px;
        

    }

    img{
    width: 200px;
    }


