.contactoima{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: (1,auto);
    grid-template-areas: "form carousel";
}
.formContacto{
    width: 300px;
    border:$colorback solid 2px;
    background-size: contain;
    padding: 50px;
    border-radius: 30px;
    font-family: 'Neucha';
    color: $colorback;
    font-weight: bold;
    .boton{
        width: 50%;
        background-color: $colorfond;
        border: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    .titulo{
        color: $colorletras;
        
    }
    .ingreso{
        width: 100%;
        background-color: $colorfond;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid white;
        font-family: 'Neucha';
        
    }
}