$fontestilo: 'Neucha';
$fonttamaño-xs: 14px;
$fonttamaño-sm: 16px;
$fonttamaño-s: 18px;
$fonttamaño-m:20px;
$fonttamaño-l:30px;
$fonttamaño-x:35px;
$colorfond: #FFDAB9;
$colorbody:#FFDAB9;
$colorback:#4E1A3D;
$colorletras: #4E1A3D;
$colorletclara: #FFDAB9;
$colorhover:#DA70D6;
$tamañoimagen: 200px; 

.baner{
    width: 100%;
    
}
a{
    text-decoration: none;  
}
.productohidra{
    
    a{
        text-decoration: none;  
    }
    img{
        margin-left: 10%;
    }
    
}
.productoacne{
    background-color: $colorback;
    border-radius: 30px;
    
    a{
        text-decoration: none; 
        h2{
            color: $colorletclara;
        } 
        img{
            margin-left: 10%;
        }
    }
    
}.productorosacea{
    a{
        text-decoration: none;  
    }
    img{
        margin-left: 10%;
    }
    
}
@media only screen and (min-width:574px){
    .productohidra{
        
        img{
            margin-left: 20%;
        }
    }
    .productoacne{
        
        img{
            margin-left: 50%;
        }
    }.productorosacea{
      
        img{
            margin-left: 20%;
        }
    }
}
@media only screen and (min-width:992px){
    .productohidra{
        
        img{
            margin-left: 40%;
        }
    }
    .productoacne{
        
        img{
            margin-left: 40%;
        }
    }.productorosacea{
      
        img{
            margin-left: 40%;
        }
    }
}
