@import "variables";
@import "menuext";
@import "nav";
@import "conthidratacion";
@import "contindex";
@import "footer";
@import "contcuidado";
@import "contcontacto";
@import "contRosacea";
@import "contafecciones";
@import "acne";
.Contenido{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: $fontestilo;
    background-color: $colorfond;
}
.General{
    background-color: $colorbody;
}
