
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#FFDAB9;
}
/* Menu */
.Cabecera h1{
   color: #4E1A3D;
   font-family: 'Neucha';
   font-size: 18px;
   text-align: center;
   width: 100%;

}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu img{
    width: 100%;
    border: rgb(37, 12, 44) solid 2px;
    margin: 5px;
}
.menu a{
    width: 20%;
}
.navigation{
    display: flex;
    list-style: none;
    font-family: 'Neucha';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.navigation :hover{
    color: #DA70D6;
}
.navigationOptions{
    float: right;
    flex-direction: row;
    width: 120px;
}
.navigation a:link, a:visited, a:active{
    text-decoration: none;
    color: #4E1A3D;
}
/*main*/

.Contenido{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-family: 'Neucha';
}

/* menu posible*/
.NavIma{
    visibility: hidden;
}
.Menu_externo{
    font-family: 'Neucha';
    font-weight: bold;
    font-size: 20px;
    width: 20%;
    list-style: none;
}
.Menu_externo ul{
    margin: 10px;
    list-style: none;
    
}
.NavTex li{
    border: #4E1A3D solid 2px;
    margin: 10px;
    padding: 5px;
}

/* contenido index*/
.Principal{
    width: 80%;
}

.Principal_text{
    font-family: 'Neucha';
    font-size: 20px;
    padding: 25px;
    color: #4E1A3D;
}
.PrinContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "imagen letra letra titulos"
                         "letra2 letra2 imagen2 titulos2"
                         "imagen3 letra3 letra3 titulos3";
    justify-items: center; 
    align-items: center;       
    color: #4E1A3D;
    font-size: 20px;

}
.PrinContImag1{ 
    grid-area: imagen; 
    width: 200px;
}
.PrinConttex1 { 
    grid-area: letra ;
    
}   
.PrinContTitulo1 { 
    grid-area: titulos; 
    font-size: 35px;
}
.PrinConttex2 {
     grid-area: letra2; 
}
.PrinContImag2 { 
    grid-area: imagen2;
    width: 200px;
}
.PrinContTitulo2{ 
    grid-area: titulos2;
    font-size: 35px;
}
.PrinContImag3 { 
    grid-area: imagen3; 
    width: 200px;
}
.PrinConttex3 { 
    grid-area: letra3;
}
.PrinContTitulo3 { 
    grid-area: titulos3; 
    font-size: 35px;
}
/* contenido cuidado basico */
h1{
    font-size: 30px;
    text-align: center;
    color: #4E1A3D;
    margin: 50px;
}
.CbMain h3{
    text-align: center;
}
.CbMain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "imagen titulo1"
                         "imagen text1"
                         "imagen imagen1"
                        
                         "titulo2 imagen2"
                         "text2 imagen2"
                         "imagen3 imagen2" 
                        
                         "imagen4 titulo3"
                         "imagen4 text3"
                         "imagen4 imagen5"
                        
                         "titulo4 imagen6"
                         "text4 imagen6"
                         "imagen7 imagen6" ;
    justify-items: center; 
    align-items: center;       
    color: #4E1A3D;
    font-size: 20px;
    row-gap: 5px;
    column-gap: 5px;
}
.CbMain_ima1{
    grid-area: imagen;
    width: 75%;

}
.CbMain_titulo1{
    grid-area: titulo1;

}
.CbMain_text1{
    grid-area: text1;
}
.CbMain_ima2{
    grid-area: imagen1;
    width: 150px;
}
.CbMain_ima3{
    grid-area: imagen2;
    width: 75%;
}
.CbMain_titulo2{
    grid-area: titulo2;
}
.CbMain_text2{
    grid-area: text2;
}
.CbMain_ima4{
    grid-area: imagen3;
    width: 150px;
}
.CbMain_ima5{
    grid-area: imagen4;
    width: 75%;
}
.CbMain_titulo3{
    grid-area: titulo3;
}
.CbMain_text3{
    grid-area: text3;
}
.CbMain_ima6{
    grid-area: imagen5;
    width: 150px;
}
.CbMain_ima7{
    grid-area: imagen6;
    width: 300px;
}
.CbMain_titulo4{
    grid-area: titulo4;
}
.CbMain_text4{
    grid-area: text4;
}
.CbMain_ima8{
    grid-area: imagen7;
    width: 150px;

}

/* formulario*/

.formContacto{
    width: 300px;
    background-image: url("imagenes/fondo.svg");
    background-size: contain;
    padding: 50px;
    margin: auto;
    border-radius: 30px;
    font-family: 'Neucha';
    color: #4B0082;
    font-weight: bold;
}
.formContacto .titulo{
    color: #4B0082;
    background-color: wheat;
}
.ingreso{
    width: 100%;
    background-color: rgb(148, 78, 212);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid white;
    font-family: 'Neucha';
    
}
.formContacto .boton{
    width: 50%;
    background-color: rgb(148, 78, 212);
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
/*footer*/

.final{
    background-color: #4E1A3D;
    width: 100%;
    color: #DA70D6;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
}
.final img{
    width: 30px;
}
@media only screen and (max-width:600px) {
   *{
       margin: 0px;
       padding: 0px;
       font-size: 16px;
       
   }
    /* menu */
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        
    }
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .menu a{
        width: 40%;
    } 
    /*contenido*/
    /*aside */
    .Menu_externo{
        width: 25%;
        margin-right: 9px;
    }
    .NavTex{
        display: none;
    }
    .NavIma{
        visibility: visible;
    }
    .NavIma img{
        width: 70px;
    }
    /*main*/
    .Principal_text{
        font-size: 14px;
        text-align: center;
    }
    .PrinContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "titulos "
                             "imagen"
                             "text1"
                             "separador"
                             "titulos2"
                             "imagen2"
                             "text2"
                             "separador2"
                             "titulos3"
                             "imagen3"
                             "text3";
        align-items: center;       
        color: #4E1A3D;
        row-gap: 5px;
    }
    .PrinContImag1{ 
        grid-area: imagen; 
        width: 150px;
    }
    .PrinConttex1 { 
        grid-area: text1;
        font-size: 14px;
        text-align: justify; 
    }   

    .PrinContTitulo1 { 
        grid-area: titulos; 
        font-size: 16px;
    }
    .PrinConttex2 {
         grid-area: text2; 
         font-size: 14px;
         text-align: justify;
    }
    .PrinContImag2 { 
        grid-area: imagen2;
        width: 150px;
    }
    .PrinContTitulo2{ 
        grid-area: titulos2;
        font-size: 16px;
    }
    .PrinContImag3 { 
        grid-area: imagen3; 
        width: 150px;
    }
    .PrinConttex3 { 
        grid-area: text3;
        font-size: 14px;
        text-align: justify;
    }
    .PrinContTitulo3 { 
        grid-area: titulos3; 
        font-size: 16px;
    }
}
@media only screen and (min-width:600px){
    
    
}
@media only screen and (min-width: 992px){
    
}